p.green {
    color: green;
    font-size:25px;
    font-family: Helvetica
}

p.green {
    color: blue;
    font-size:25px;
    font-family: Helvetica
}

p.green {
    color: blue;
    font-size:25px;
    font-family: Helvetica
}

div {
    padding-top: 50px;
    padding-right: 30px;
    padding-bottom: 50px;
    padding-left: 80px;
}

.intro {
    background-color: rgb(207, 133, 145);
}